/* CSS設定 */

body
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -ms-writing-mode: tb-rl;            /* IE用　*/
    -webkit-writing-mode: vertical-rl;  /* chrome用　*/
    -o-writing-mode: vertical-rl;       /* opera用　*/
    writing-mode: vertical-rl;


    /* 縦中横 */
    -webkit-text-combine: horizontal-tb;
    -webkit-text-combine-horizontal: digits 2;
    -ms-text-combine-horizontal: digits 2;
    text-combine-upright: digits 2;
    text-combine-horizontal: digits 2;


    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    margin: 0px;
    background-image:url("/img/ruins.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left bottom;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: lighter;
    margin-bottom:0px;
    color:#9f6f55;
}
h1
{
    font-size: 1.8em;
}
h2
{
    font-size: 1.8em;
}
a, a:visited
{
    text-decoration: none;
    color:#9f6f55;
}
a:hover
{
    background: #f3f3f2;
}
ul
{
    margin:0;
    padding:0;
}
li
{
    margin:0;
    padding:0;
    list-style-type:none;
}
.entry ul, .idea ul
{
    margin-left:10px;
}
.entry li, .idea li , .latest li
{
    margin-left:10px;
    list-style-type:circle;
}

#container
{
    margin: 4px;
    top: 0px;
    right: 0px;
}

#side
{
    position: page;
    left: 0px;
    bottom: 4px;
    color: #CCCCCC;
    margin:0px;
}
#side .section
{
    margin-top:50px;
    margin-bottom: 50px;
    padding:0;
}
#side .section ul
{
    font-size:2em;
}

#hometext a {
    font-size: 2em;
    display: inline;
    color: #6f514c;
    font-weight: normal;
}


code[class*="language-"],
pre[class*="language-"] {
    font-family: monospace;
    line-height: 1.2em;
    font-size: 1em;
}

div.prism-show-language > div.prism-show-language-label {
    padding: 0.5em 0;
}

div.sakura
{
    position:relative;
    width: 320px;
    height: 100%;
}

div.sakura iframe
{
    position:absolute;
    bottom:0;
    height: 460px;
    width: 100%;
}




#pasta
{


}


#content
{
    margin-top: 1.5em;
    max-height: 42.8em;
}

img
{
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  border: none;
}
.postdate
{
    font-size: 0.8em;
    font-weight: bold;
}

.olderpostdate
{
    font-size: 0.8em;
    color : #aaaaaa;
    width: 150px;
    margin-right: 15px;
}



.idea h1, .entry h1
{
    margin-left: 0.2em;
}

div.idea, div.entry
{
    border-top: solid 0.2em #d6c6af;
    padding-top: 0.2em;

    border-bottom: solid 0.2em #d6c6af;
    padding-bottom: 0.2em;
}


/* livefyre */
#livefyre-comments
{
    writing-mode: lr-tb; /* IE独自仕様 */
    writing-mode: horizontal-tb;
    -moz-writing-mode: vhorizontal-tb;
    -o-writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -webkit-text-combine: horizontal-tb;

    width: 400px;
    height: auto;
    max-height: 100%;
}
#livefyre-comments div.fyre-listener-avatars
{
    height: 50px;
}

div.fyre-hovercard
{
    writing-mode: lr-tb; /* IE独自仕様 */
    writing-mode: horizontal-tb;
    -moz-writing-mode: vhorizontal-tb;
    -o-writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -webkit-text-combine: horizontal-tb;
}

pre
{
    margin: 1em 0px 1em;
}


code
{
    -ms-writing-mode: lr-tb;              /* IE用　*/
    -webkit-writing-mode: horizontal-tb;  /* chrome用　*/
    -o-writing-mode: horizontal-tb;       /* opera用　*/
    writing-mode: horizontal-tb;
}