/* CSS設定 */

body
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    writing-mode: tb-rl; /* IE独自仕様 */
    writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -webkit-text-combine: horizontal;
    text-combine-horizontal: digits 2;
    -ms-text-combine-horizontal: digits 2;
    -webkit-text-combine-horizontal: digits 2;

    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
/*
    font-family:Times New Roman , "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN , "MSP明朝","MS PMincho","MS 明朝",serif;
*/
    margin: 0px;
    background-image:url("/img/ruins.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left bottom;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: lighter;
    margin-bottom:0px;
}
h1
{
    font-size: 4em;
}
h2
{
    font-size: 2.5em;
}
a, a:visited
{
    text-decoration: none;
    color:#13678b;
}
a:hover
{
    color:white;
    background: #13678b
}
ul
{
    margin:0;
    padding:0;
}
li
{
    margin:0;
    padding:0;
    list-style-type:none;
}
.entry ul, .idea ul
{
    margin-left:10px;
}
.entry li, .idea li , .latest li
{
    margin-left:10px;
    list-style-type:circle;
}

#container
{
    margin: 4px;
    top: 0px;
    right: 0px;
}

#side
{
    position: page;
    left: 0px;
    bottom: 4px;
    color: #CCCCCC;
    margin:0px;
}
#side .section
{
    margin-top:50px;
    margin-bottom: 50px;
    padding:0;
}
#side .section ul
{
    font-size:2em;
}

#hometext a {
    font-size: 2em;
    display: inline;
    color: #CCCCCC;
    font-weight: normal;
}



#pasta
{


}


#content
{
    max-height: 42em;
}

img
{
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  border: none;
}
.postdate
{
    font-size: 0.8em;
    font-weight: bold;
}

.olderpostdate
{
    font-size: 0.8em;
    color : #aaaaaa;
    width: 150px;
    margin-right: 15px;
}
.idea h1, .entry h1
{
    margin-bottom: 5px;
}


div.horizontal
{
    writing-mode: lr-tb; /* IE独自仕様 */
    writing-mode: horizontal-tb;
    -moz-writing-mode: vhorizontal-tb;
    -o-writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -webkit-text-combine: horizontal-tb;
}


/* livefyre */
#livefyre-comments
{
    writing-mode: lr-tb; /* IE独自仕様 */
    writing-mode: horizontal-tb;
    -moz-writing-mode: vhorizontal-tb;
    -o-writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -webkit-text-combine: horizontal-tb;

    width: 400px;
    height: auto;
    max-height: 100%;
}
#livefyre-comments div.fyre-listener-avatars
{
    height: 50px;
}

div.fyre-hovercard
{
    writing-mode: lr-tb; /* IE独自仕様 */
    writing-mode: horizontal-tb;
    -moz-writing-mode: vhorizontal-tb;
    -o-writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -webkit-text-combine: horizontal-tb;
}


/* prettify.js */
pre.prettyprint
{
    writing-mode: lr-tb; /* IE独自仕様 */
    writing-mode: horizontal-tb;
    -moz-writing-mode: vhorizontal-tb;
    -o-writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -webkit-text-combine: horizontal-tb;
    width: 38em;
}

pre.prettyprint li
{
    list-style-type: decimal;
}
