<!--{def DUMMYHTML}-->
<html>
<head>
<title>DOT-STATION　管理メニュー</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTP-8">
<link rel="stylesheet" href="../../common/style.css" type="text/css">
<link rel="stylesheet" href="../../common/kanri.css" type="text/css">
</head>

<body bgcolor="#FFFFFF">

<!--{/def}-->

      <form name="form1" method="post" action="{rval URL}">
      <br>
      <table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <input type="submit" value="トークファイル出力">
          </td>
        </tr>
      </table>
      </form>

<!--{def DUMMYHTML}-->
</html>
<!--{/def}-->
