AddType application/x-httpd-php .phu
php_value default_charset               "UTF-8"
php_value mbstring.language             "Japanese"
php_value mbstring.internal_encoding    "UTF-8"
php_value mbstring.detect_order         "auto"
php_value mbstring.http_input           "UTF-8,EUC-JP,eucJP-win,ASCII,JIS,SJIS"
php_value mbstring.http_output          "UTF-8"
php_value mbstring.substitute_character "33093"
php_value mbregex.encoding              "UTF-8"
php_value magic_quotes_gpc              "Off"
php_value auto_prepend_file             none
