body {
  width : 98%;
  color : #333333;
  line-height : 1.3;
  background-image : url(../html/wallpaper.gif);
}

a:link    { color : #003399; }
a:visited { color : #990033; }
a:active  { color : #339900; }

h1 {
  text-align : right;
  border-width : 0 0 1px 0;
  border-color : #333333;
  border-style : solid;
}

h2 {
  text-decoration : underline;
}

h3 {
}

h4 {
  margin-left : 1.5em;
}

div {
  margin-left:2em; 
}

li div {
  margin-left:0em; 
  padding : 1ex 0 1ex 0;
}

div.footer {
  text-align : right;
}

p { 
  margin-left : 2em; 
  width : 90%;
}

.annotation {
  font-size: 0.8em;
}
 
pre { 
  background-color : #e0e0e0;
  padding : 4px 4px 4px 4px;
  border-color : #b0b0b0;
  border-style : solid;
  border-width : 0 0 0 0;
  width : 90%;
  margin-left : 2em;
}

blockquote {
  width : 80%;
  margin-left : 4em;
  background-color : #e0e0e0;
  padding : 4px 4px 4px 4px;
  border-color : #b0b0b0;
  border-style : solid;
  border-width : 1px 1px 1px 1px;
}

ul {
  margin-left : 3em;
}

ol {
  margin-left : 3em;
}

li { 
  padding : 0.5ex 0 0.5ex 0.5em;
}

dl {
  margin-left : 2em;
  width : 90%;
}

dt {
  font-weight : 600;
  padding : 0.5ex 0 0 0.5em;
}

table { 
  width : 90%;
  margin-left : 2em; 
}

tr.odd {
  background-color : #e0e0e0;
}

tr.even {
  background-color : #d0d0d0;
}

th {
  text-align : left;
  vertical-align : top;
  word-break: keep-all;
  padding : 2px 2px 2px 2px;
  white-space : nowrap;
}

td {
  text-align : left;
  vertical-align : top;
  padding : 2px 2px 2px 2px;
}

em.link {
 font-style : normal;
 color : #003399; 
}

em.param {
 font-weight : 700;
 font-style : normal;
}

code {
 font-style : italic;
}