<%# requirements: mode, config, config_file %>

<p>
以下のように設定を変更しました。
設定は '<%= config_file %>' に保存されています。
</p>

<table>
  <% CONFIG_VAR_NAMES.each do |name| %>
    <tr>
      <th><%= name %></th>
      <td><%= config[name.intern] %></td>
    </tr>
  <% end %>
</table>


<p>
<%= '全体の設定の変更に戻る'.href(mode.url, {'action' => ConfigEnv.name, 's' => '0'}) %>
</p>
