<%# requirements: mode, project %>

<p>以下の設定でプロジェクトを作成しました。</p>

<%= eval_template('project_info.rhtml', {:project => project, :show_report_count => false}) %>

<ul>
  <li><%= 'フィールドのカスタマイズ'.href(mode.url, 
                                         {'action' => ConfigField.name,
                                          'project' => project.id,
                                          's' => '1'}) %></li>
  <li><%= 'プロジェクト一覧に戻る'.href(mode.url, {'action' => Projects.name}) %></li>
</ul>
