<html>
<head>
<title>{rval TITLE}</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTP-8">
<link rel="stylesheet" href="../../common/style.css" type="text/css">
<link rel="stylesheet" href="../../common/kanri.css" type="text/css">
<link rel="stylesheet" href="../../common/item.css" type="text/css" />
</head>

<body bgcolor="#FFFFFF">
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" height="49">
      <table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="600" class="KANRI_TITLE_A">　管理画面</td>
                <td width="100" align="right"><a href="../index.php">ＴＯＰに戻る</a></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="KANRI_TITLE_B">{rval TITLE}</td>
        </tr>
        <tr>
          <td class="KANRI_TITLE_C">　{rval NAME}</td>
        </tr>
      </table>
    </td>
  </tr>


  <tr>
    <td align="center">
      <table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left"><br>{rval MESSAGE}<br></td>
        </tr>
      </table>
    </td>
  </tr>


<!--{def INPUT}-->
  <form name="form1" method="post" action="{rval SCRIPT_NAME}">
  <tr>
    <td align="center">
      <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#999999">
            <table width="600" border="0" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan=2 bgcolor="#BBDDEE" align=left><b>■入力内容</b></td>
              </tr>
<!--{each EDIT}-->
              <tr>
                <td width="140" bgcolor="#E6F2FF"><b>{rval EDIT/NAME}</b></td>
                <td width="460" bgcolor="#FFFFFF">{rval EDIT/OBJECT}</td>
              </tr>
<!--{/each}-->
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <input type="submit" value="送信テスト">　<input type="reset" value="リセット">
    </td>
  </tr>
  </form>
<!--{/def}-->


</table>





</body>
</html>